html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  margin: 20px;
  height: 100%;
}

.image-class {
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}
