<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>diving bear</title>
	</head>

	<body>
		<div class="py-8 bg-gradient-to-b from-indigo-900 to-amber-500 min-h-screen">

			
			<div class="mt-20 mx-auto text-center max-w-3xl px-10">
				
				<h1 class="text-center text-4xl m-auto font-extrabold tracking-tight text-indigo-800">drawings</h1>

			</div>

			<div class="mt-20 mx-auto text-center max-w-3xl px-10">

				<h2>no 1 - 25.05.23</h2>
				<img src="./public/drawings/draw1.png" alt="drawing room at the computer">

			</div>

			<footer class="mt-20 pt-12">
				<nav class="flex justify-center pb-10 space-x-10">
					<a href="https://spacifik.de/impressum/" class="text-sm sm:text-lg text-red-900 hover:text-neutral-900">imprint</a>
					<a href="https://spacifik.de/datenschutzerklaerung/" class="text-sm sm:text-lg text-red-900 hover:text-neutral-900">data privacy</a>
					<a href="https://www.instagram.com/divingbearmusic/" class="text-sm sm:text-lg text-red-900 hover:text-neutral-900">instagram</a>
				</nav>
				<p class="text-sm sm:text-base text-center text-red-900">
					&copy; diving bear. All rights reserved.
				</p>
			</footer>
    	</div>
	</body>
</html>