<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>diving bear</title>
	</head>

	<body>
		<div class="py-8 bg-gradient-to-b from-slate-900 to-blue-800 min-h-screen">

			<div class="grid min-h-screen place-items-center">

				<div class="flex justify-center">
					<img class="w-1/4 hidden sm:block" src="/logo.png" alt="Logo diving bear">
					<h1 class="text-center text-8xl m-auto font-extrabold tracking-tight text-white">diving bear</h1>
			  	</div>

			</div>

			<div class="mt-20 mx-auto text-center max-w-3xl px-10">

				<!-- Buttons -->

				<div class="mt-12 gap-8">
					<button onclick="window.location.href='https://open.spotify.com/artist/2SdMKRKSJiHi0OKGZr2P0d'" class="block text-blue-500 hover:text-blue-200 hover:bg-blue-400 bg-blue-900 px-8 py-4 mx-auto mt-8 mb-12 font-bold rounded-lg">Spotify</button>

					<button onclick="window.location.href='https://soundcloud.com/divingbear'" class="block text-blue-500 hover:text-blue-200 hover:bg-blue-400 bg-blue-900 px-8 py-4 mx-auto mt-8 mb-12 font-bold rounded-lg">Soundcloud</button>

					<button onclick="window.location.href='https://music.apple.com/at/artist/diving-bear/1546426196'" class="block text-blue-500 hover:text-blue-200 hover:bg-blue-400 bg-blue-900 px-8 py-4 mx-auto mt-8 mb-12 font-bold rounded-lg">Apple Music</button>
				</div>

			</div>

			<footer class="mt-20 pt-12">
				<nav class="flex justify-center pb-10 space-x-10">
					<a href="https://spacifik.de/impressum/" class="text-sm sm:text-lg text-blue-600 hover:text-blue-400">Imprint</a>
					<a href="https://spacifik.de/datenschutzerklaerung/" class="text-sm sm:text-lg text-blue-600 hover:text-blue-400">Data Privacy</a>
					<a href="https://www.instagram.com/diving_bear_" class="text-sm sm:text-lg text-blue-600 hover:text-blue-400">Instagram</a>
				</nav>
			</footer>
    	</div>
	</body>
</html>