<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/main.css">
		<title>diving bear</title>
	</head>

	<body>
		<div class="image-class py-8 bg-[url('/luisrieke_bg.png')] bg-cover bg-no-repeat bg-center bg-fixed min-h-full">

			<div class="absolute inset-x-0 bottom-0">

				<div class="sm:mt-4 mx-auto text-center max-w-3xl sm:text-lg text-lg content-center">

					<!-- Buttons -->

					<div class="flex content-center m-0 gap-x-0 place-content-around">
						<button onclick="window.location.href='https://soundcloud.com/divingbear';" class="block text-gray-100 hover:text-gray-700 bg-gradient-to-r from-gray-800 to-gray-900 hover:from-gray-500 hover:to-gray-500 sm:px-8 px-2 sm:py-1 py-1 rounded-full m-2">Soundcloud</button>
						
						<button onclick="window.location.href='https://music.apple.com/at/artist/diving-bear/1546426196';" class="block text-gray-100 hover:text-gray-700 bg-gradient-to-b from-gray-900 to-gray-800 hover:from-gray-500 hover:to-gray-500 sm:px-8 px-2 sm:py-1 py-1 rounded-full m-2">Apple Music</button>

						<button onclick="window.location.href='https://open.spotify.com/artist/2SdMKRKSJiHi0OKGZr2P0d';" class="block text-gray-100 hover:text-gray-700 bg-gradient-to-r from-gray-900 to-gray-800 hover:from-gray-500 hover:to-gray-500 sm:px-8 px-2 sm:py-1 py-1 rounded-full m-2">Spotify</button>
					</div>

				</div>

				<footer class="m-2">
					<nav class="flex justify-center space-x-10">
						<a href="https://spacifik.de/impressum/" class="text-sm sm:text-m text-gray-900 hover:text-gray-400">Imprint</a>
						<a href="https://spacifik.de/datenschutzerklaerung/" class="text-sm sm:text-m text-gray-900 hover:text-gray-400">Data Privacy</a>
						<a href="https://www.instagram.com/diving_bear_" class="text-sm sm:text-m text-gray-900 hover:text-gray-400">Instagram</a>
					</nav>
				</footer>
			</div>
		</div>
	</body>
</html>