<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/main.css">
		<title>diving bear</title>
	</head>

	<body>
		<div class="py-8 bg-[url('/luisrieke_bg.png')] bg-cover bg-no-repeat bg-center bg-fixed min-h-full">

			<div class="absolute inset-x-0 bottom-0">

			<div class="grid place-items-center">

				<div>
					<img class="w-1/4 hidden sm:block" src="/logo.png" alt="Logo diving bear">
					<h1 class="text-center sm:text-8xl text-6xl m-auto font-extrabold tracking-tight text-white">diving bear</h1>
			  	</div>

			</div>

			<div class="sm:mt-4 mx-auto text-center max-w-3xl px-10 sm:text-lg text-xs">

				<!-- Buttons -->

				<div class="flex">
					<button onclick="window.location.href='https://soundcloud.com/divingbear';" class="block text-emerald-100 hover:text-red-700 bg-gradient-to-r from-teal-800 to-blue-800 hover:from-pink-500 hover:to-yellow-500 sm:px-8 px-4 sm:py-4 py-2 sm:mx-auto mx-2 font-bold rounded-full m-6">Soundcloud</button>
					
					<button onclick="window.location.href='https://music.apple.com/at/artist/diving-bear/1546426196';" class="block text-emerald-100 hover:text-red-700 bg-gradient-to-b from-blue-800 to-teal-800 hover:from-yellow-500 hover:to-pink-500 sm:px-8 px-4 sm:py-4 py-2 sm:mx-auto mx-2 font-bold rounded-full m-6">Apple Music</button>

					<button onclick="window.location.href='https://open.spotify.com/artist/2SdMKRKSJiHi0OKGZr2P0d';" class="block text-emerald-100 hover:text-red-700 bg-gradient-to-r from-blue-800 to-teal-800 hover:from-yellow-500 hover:to-pink-500 sm:px-8 px-4 sm:py-4 py-2 sm:mx-auto mx-2 font-bold rounded-full m-6">Spotify</button>
				</div>

			</div>

			<footer class="m-6">
				<nav class="flex justify-center space-x-10">
					<a href="https://spacifik.de/impressum/" class="text-sm sm:text-m text-blue-800 hover:text-emerald-400">Imprint</a>
					<a href="https://spacifik.de/datenschutzerklaerung/" class="text-sm sm:text-m text-blue-800 hover:text-emerald-400">Data Privacy</a>
					<a href="https://www.instagram.com/diving_bear_" class="text-sm sm:text-m text-blue-800 hover:text-emerald-400">Instagram</a>
				</nav>
			</footer>
    	</div>
		</div>
	</body>
</html>