<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>diving bear</title>
	</head>

	<body>
		<div class="py-8 bg-gradient-to-b from-indigo-900 to-amber-500 min-h-screen">

			<div class="flex min-h-screen">

      		<h1 class="text-center text-8xl m-auto font-extrabold tracking-tight text-indigo-800">diving bear</h1>

			</div>

			<div class="mt-20 mx-auto text-center max-w-3xl px-10">

				<!-- Buttons -->

				<div class="mt-12 gap-8">
					<button onclick="window.location.href='/drawings'" class="block text-neutral-600 hover:text-white bg-slate-800 px-8 py-4 mx-auto mt-8 mb-12 font-bold rounded-lg">drawings</button>

					<p>/</p>
					<br>
					
					<button onclick="window.location.href='https://open.spotify.com/artist/2SdMKRKSJiHi0OKGZr2P0d'" class="block text-neutral-600 hover:text-white bg-slate-800 px-8 py-4 mx-auto mt-8 mb-12 font-bold rounded-lg">Spotify</button>

					<button onclick="window.location.href='https://soundcloud.com/divingbear'" class="block text-neutral-600 hover:text-white bg-slate-800 px-8 py-4 mx-auto mt-8 mb-12 font-bold rounded-lg">Soundcloud</button>

					<button onclick="window.location.href='https://music.apple.com/at/artist/diving-bear/1546426196'" class="block text-neutral-600 hover:text-white bg-slate-800 px-8 py-4 mx-auto mt-8 mb-12 font-bold rounded-lg">Apple Music</button>
				</div>

			</div>

			<footer class="mt-20 pt-12">
				<nav class="flex justify-center pb-10 space-x-10">
					<a href="https://spacifik.de/impressum/" class="text-sm sm:text-lg text-red-900 hover:text-neutral-900">imprint</a>
					<a href="https://spacifik.de/datenschutzerklaerung/" class="text-sm sm:text-lg text-red-900 hover:text-neutral-900">data privacy</a>
					<a href="https://www.instagram.com/divingbearmusic/" class="text-sm sm:text-lg text-red-900 hover:text-neutral-900">instagram</a>
				</nav>
			</footer>
    	</div>
	</body>
</html>