<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>diving bear</title>
	</head>

	<body>
		<div class="py-8 bg-slate-900 min-h-screen">

			<nav class="flex justify-center space-x-10 pb-10">
				<a href="/" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">home</a>
				<a href="/music" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">music</a>
				<a href="/store" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">store</a>
			</nav>

      		<h1 class="text-center text-8xl mb-10 font-extrabold tracking-tight text-white">diving bear</h1>
			<p class="text-center text-sky-800 text-sm sm:text-lg">Join newsletter to get updated first</p>
      		<button onclick="window.location.href='mailto:hello@divingbearmusic.com?subject=Newsletter%20Anmeldung&body=Bitte%20f%C3%BCr%20den%20Newsletter%20eintragen!'" class="block text-slate-400 hover:text-white bg-slate-800 hover:bg-teal-800 px-5 py-3 mx-auto mt-10 font-bold rounded-lg">Sign up now</button>

			<div class="mt-20 mx-auto text-center max-w-3xl px-10">
				<p class="mt-2 text-2xl font-extrabold text-sky-900 tracking-tight">
					What kind of updates can you expect?
				</p>
				<p class="mt-5 max-w-prose mx-auto text-xl text-slate-600">
					No spam. No ads. No bullshit.
				</p>

				<p class="mt-5 sm:mx-44 max-w-prose text-sm text-slate-600">Every time I release a new album, I'll send you an email with a link to the album.</p>
				
			</div>

			<footer class="mt-20 pt-12 border-t-2 border-gray-300">
				<nav class="flex justify-center pb-10 space-x-10">
					<a href="https://open.spotify.com/artist/2SdMKRKSJiHi0OKGZr2P0d" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">spotify</a>
					<a href="https://soundcloud.com/divingbear" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">soundcloud</a>
					<a href="https://www.instagram.com/divingbearmusic/" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">instagram</a>
				</nav>
				<p class="text-sm sm:text-base text-center text-slate-800">
					&copy; diving bear. All rights reserved.
				</p>
			</footer>
    	</div>
	</body>
</html>