<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>diving bear</title>
	</head>

	<body>
		<div class="py-8 bg-slate-900 min-h-screen">

			<nav class="flex justify-center space-x-10 pb-10">
				<a href="/" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">home</a>
				<a href="/music" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">music</a>
				<a href="/store" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">store</a>
			</nav>

      		<h1 class="text-center text-8xl mb-10 font-extrabold tracking-tight text-white">diving bear</h1>
			<p class="text-center text-sky-800 text-sm sm:text-lg">Buy whole live sets, digitally recorded</p>

			<div class="mt-20 mx-auto text-center max-w-3xl px-10">
				<p class="mt-2 text-2xl font-extrabold text-sky-900 tracking-tight">
					Enjoy a colorful palette of music. Travel back to the day the music was created. Buy a time capsule.
				</p>
				<p class="mt-5 max-w-prose mx-auto text-xl text-slate-600">
					Thanks for your support.
				</p>

				<!-- All 4 Hoodies -->

				<div class="mt-12 grid gap-8 grid-cols-1 sm:grid-cols-2">
					<div class="bg-slate-800 rounded-lg px-6 pb-8">
						<h3 class="mt-8 text-lg font-medium text-slate-400 tracking-tight">Berlin House Party</h3>
						<p class="mt-5 text-slate-500">
							 I threw a wild birthday party and produced a set for the occasion that lasts over 6 hours. Mostly wild party music.
						</p>
						<button onclick="window.location.href='/checkout'" class="block text-slate-400 hover:text-white bg-slate-600 hover:bg-teal-800 px-5 py-3 mx-auto mt-10 font-bold rounded-lg">Check out Live Set</button>
						
					</div>

					<div class="bg-slate-800 rounded-lg px-6 pb-8">
						<h3 class="mt-8 text-lg font-medium text-slate-400 tracking-tight">Forest Fairy Tale</h3>
						<p class="mt-5 text-slate-500">
							I grew up in a small town surrounded by forests. To this day I love this peaceful place and the atmosphere that can be found there.
						</p>
						<button onclick="window.location.href='/checkout'" class="block text-slate-400 hover:text-white bg-slate-600 hover:bg-teal-800 px-5 py-3 mx-auto mt-10 font-bold rounded-lg">Check out Live Set</button>
					</div>

					<div class="bg-slate-800 rounded-lg px-6 pb-8">
						<h3 class="mt-8 text-lg font-medium text-slate-400 tracking-tight">Ocean Deep House</h3>
						<p class="mt-5 text-slate-500">
							Atmospheric deep house rhythms that'll bring you into a flow, good for work. Set was recorded at the ocean in Portugal.
						</p>
						<button onclick="window.location.href='/checkout'" class="block text-slate-400 hover:text-white bg-slate-600 hover:bg-teal-800 px-5 py-3 mx-auto mt-10 font-bold rounded-lg">Check out Live Set</button>
					</div>

					<div class="bg-slate-800 rounded-lg px-6 pb-8">
						<h3 class="mt-8 text-lg font-medium text-slate-400 tracking-tight">Mountain Magic</h3>
						<p class="mt-5 text-slate-500">
							Hard rhythms, melodic techno. The set was created in the Alps, at night. Playing time about 4 hours. Music fits for a workout.
						</p>
						<button onclick="window.location.href='/checkout'" class="block text-slate-400 hover:text-white bg-slate-600 hover:bg-teal-800 px-5 py-3 mx-auto mt-10 font-bold rounded-lg">Check out Live Set</button>
					</div>

				</div>
			</div>

			<footer class="mt-20 pt-12 border-t-2 border-gray-300">
				<nav class="flex justify-center pb-10 space-x-10">
					<a href="https://open.spotify.com/artist/2SdMKRKSJiHi0OKGZr2P0d" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">spotify</a>
					<a href="https://soundcloud.com/divingbear" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">soundcloud</a>
					<a href="https://www.instagram.com/divingbearmusic/" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">instagram</a>
				</nav>
				<p class="text-sm sm:text-base text-center text-slate-800">
					&copy; diving bear. All rights reserved.
				</p>
			</footer>
    	</div>
	</body>
</html>