
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>diving bear</title>
	</head>

	<body>
		<div class="py-8 bg-slate-900 min-h-screen">

			<nav class="flex justify-center space-x-10 pb-10">
				<a href="/" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">home</a>
				<a href="/music" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">music</a>
				<a href="/store" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">store</a>
			</nav>

      		<h1 class="text-center text-8xl mb-10 font-extrabold tracking-tight text-white">diving bear</h1>
			<p class="text-center text-sky-800 text-sm sm:text-lg">Thanks for your order</p>

			<div class="mt-20 mx-auto text-center max-w-3xl px-10">
				
				<div class="mt-12 grid gap-8 grid-cols-1">
					<div class="bg-slate-800 rounded-lg px-6 pb-8">
						<h3 class="mt-8 mb-8 text-2xl text-slate-400 tracking-tight">Your order has been received!</h3>

						<!-- Hinweistext -->

						<p class="text-center text-slate-600 text-md sm:text-md pb-4">Since it is not processed automatically, I will manually send you an invoice and the download to the email address you have given to PayPal. So I gently ask you for a little patience, you will hear from me soon.</p>
						
						<p class="text-center text-slate-600 text-md sm:text-md pb-8 sm:px-32">If it takes too long for you or if you have any questions, please feel free to email me at any time:</p>

						<p class="text-center text-slate-600 text-md sm:text-md pb-12"><a href="mailto:hello@divingbearmusic.com" class="text-sky-700 hover:text-sky-200">hello@divingbearmusic.com</a></p>
					</div>

				</div>
			</div>

			<footer class="mt-20 pt-12 border-t-2 border-gray-300">
				<nav class="flex justify-center pb-10 space-x-10">
					<a href="https://open.spotify.com/artist/2SdMKRKSJiHi0OKGZr2P0d" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">spotify</a>
					<a href="https://soundcloud.com/divingbear" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">soundcloud</a>
					<a href="https://www.instagram.com/divingbearmusic/" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">instagram</a>
				</nav>
				<p class="text-sm sm:text-base text-center text-slate-800">
					&copy; diving bear. All rights reserved.
				</p>
			</footer>
    	</div>
	</body>
</html>